*{
  margin: 0;
  padding: 0;
}
html,body,#root,.layout{
  height: 100%;
}
.layout-main{
  height: auto;
  min-height: 100%;
}
.layout-container{
  padding-bottom: 350px;
}
.layout-sticky{
  height: 350px;
  margin-top: -350px;
  background-color: #000;
}
.wid1200{
  width: 1200px;
  margin: 0 auto;
}
